.btn {
  padding: 10px 25px;
  background: #00FF53;
  color: #ffffff;
}
.box  {
  width: 450px;
  height: 450px;
  background: #CAFFE8;
  margin-left: 25px;
}
.table {
  display: flex;
}
#mycanvas {
  cursor: move;
}