<div class="container">
  <a href="pre" id="pre">pre</a>
  <a href="next" id="next">next</a>
  <ul id="slider">
    <li class="slide">
      <blockquote>
        1
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
      </blockquote>
      <cite>Hello World 1</cite>
    </li>
    <li class="slide">
      <blockquote>
        2
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
      </blockquote>
      <cite>Hello World 2</cite>
    </li>
    <li class="slide">
      <blockquote>
        3
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
      </blockquote>
      <cite>Hello World 3</cite>
    </li>
    <li class="slide">
      <blockquote>
        4
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
      </blockquote>
      <cite>Hello World 4</cite>
    </li>
    <li class="slide">
      <blockquote>
        5
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam architecto cupiditate debitis, exercitationem expedita id, illum laboriosam, maiores maxime porro possimus quasi quisquam unde? Accusamus architecto blanditiis consequatur.
      </blockquote>
      <cite>Hello World 5</cite>
    </li>

  </ul>
</div>