<canvas #mycanvas width="400" height="400"></canvas>
<div id="main">
    <div class="container">
        <h1 class="title-page">Style Checkbox</h1>
        <div class="squaredcheck">
            <input type="checkbox" value="None" id="squaredcheck" class="checkbox1" name="check" checked />
            <label for="squaredcheck">
                <span>Checkbox Blue Color</span>
            </label>
        </div>
        <div class="squaredcheck">
            <input type="checkbox" value="None" id="squaredcheck2" class="checkbox2" name="check"  />
            <label for="squaredcheck2"><span>Checkbox Green Color</span></label>
        </div>
        <div class="squaredcheck">
            <input type="checkbox" value="None" id="squaredcheck3" class="checkbox3" name="check"  />
            <label for="squaredcheck3"><span>Checkbox Violet Color</span></label>
        </div>
    </div>
</div>


<div id="main2">
    <div class="container">
        <h1 class="title-page">Style Radio Button</h1>
        <div class="circlecheck">
            <input type="radio" id="f-option" class="circle-1" name="selector" checked>
            <label for="f-option">Radio Mint Color</label>

            <div class="outer-circle"></div>
        </div>
        <div class="circlecheck">
            <input type="radio" id="g-option" class="circle-2" name="selector">
            <label for="g-option">Radio Orange Color</label>

            <div class="outer-circle"></div>
        </div>
        <div class="circlecheck">
            <input type="radio" id="h-option" class="circle-3" name="selector">
            <label for="h-option">Radio Purple Color</label>

            <div class="outer-circle"></div>
        </div>
    </div>
</div>

<div id="main3">
    <div class="container">
        <h1 class="title-page">Style Select Option</h1>
        <div class="styled-select green">
            <select>
                <option>Here is the first option</option>
                <option>The second option</option>
                <option>The third option</option>
            </select>
        </div>

        <div class="styled-select blue">
            <select>
                <option>Here is language option</option>
                <option>English language</option>
                <option>Viet Nam language</option>
            </select>
        </div>
    </div>
</div>

<div class="textSlider">
    <div class="part1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <img class="slide-in align-left" src="assets/the-good-life.jpg" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
    </div>
    <div class="part2">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <img class="slide-in align-right" src="assets/the-good-life.jpg" alt="" style="margin-left: 155px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur deleniti nulla quae quos. Ab asperiores blanditiis distinctio eaque enim eveniet fugiat id magnam nam, non sit ullam? Praesentium, vero!</p>
    </div>
</div>

<button style="padding: 25px; background: #39C768; color: #ffffff" (click)="test()">
    RXJS with Buffering Operators
</button>