<!--<div class="wrapper">-->
<!--<div>-->
<!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi cumque eaque earum enim exercitationem iure obcaecati perspiciatis sit? Aliquam blanditiis eius ex minus natus non, provident rerum ut voluptatibus.-->
<!--</div>-->
<!--<div>-->
<!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi consequuntur dolorum eligendi exercitationem id laudantium magnam maxime, nulla perspiciatis provident quibusdam quos tempora temporibus voluptas voluptates, voluptatum. Nostrum, voluptatem!-->
<!--</div>-->
<!--<div>-->
<!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquid at delectus error est excepturi illum in inventore magni neque nobis nostrum perferendis porro quo recusandae reiciendis sapiente? Ad, perspiciatis.-->
<!--</div>-->
<!--</div>-->


<div class="wrapper2">
  <div class="item1 item">
    <div class="green">Title</div>
  </div>
  <div class="item2 item">
    <div class="purple">Header</div>
  </div>
  <div class="item3 item">
    <div class="blue">Sidebar Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto at consequuntur iure laboriosam omnis pariatur placeat reiciendis repellendus, tenetur. Aperiam dolorem ratione totam velit voluptates. Cum dicta, iste? Nesciunt.</div>
    <div class="blue">Sidebar Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto at consequuntur iure laboriosam omnis pariatur placeat reiciendis repellendus, tenetur. Aperiam dolorem ratione totam velit voluptates. Cum dicta, iste? Nesciunt.</div>
  </div>
  <div class="item4 item">
    <div class="red">Main Content</div>
  </div>
  <div class="item5 item">
    <div class="yellow">Footer</div>
  </div>
</div>


<!--<div class="wrapper3">-->
  <!--<div class="one green">One</div>-->
  <!--<div class="two red">Two</div>-->
  <!--<div class="three blue">Three</div>-->
  <!--<div class="four yellow ">Four</div>-->
  <!--<div class="five purple">Five</div>-->
  <!--<div class="six green">Six</div>-->
<!--</div>-->
