<div #test style="width: 450px;margin: 0 auto; padding: 20px; background: #6FCF9A">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquam amet aspernatur aut eaque facilis illum modi odio, qui ratione repellat sed similique sint ullam, voluptates voluptatibus? Deserunt, unde?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquam amet aspernatur aut eaque facilis illum modi odio, qui ratione repellat sed similique sint ullam, voluptates voluptatibus? Deserunt, unde?</p>
  <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquam amet aspernatur aut eaque facilis illum modi odio, qui ratione repellat sed similique sint ullam, voluptates voluptatibus? Deserunt, unde?</p>
</div>
<button (click)="makeAnimation(test)">Click</button>