<div class="container">
  <!--Small image-->
  <img src="assets/icons/android-icon-48x48.png" class="blur" alt="avatar1">
  <img src="assets/icons/android-icon-48x48.png" class="blur" alt="avatar1">
  <img src="assets/icons/android-icon-48x48.png" class="blur" alt="avatar1">
  <img src="assets/icons/android-icon-48x48.png" class="blur" alt="avatar1">
  <img src="assets/icons/android-icon-48x48.png" class="blur" alt="avatar1">
  <img src="assets/icons/android-icon-48x48.png" class="blur" alt="avatar1">
</div>