<div class="pricing-grid">
  <div class="plan plan1">
    <h2>Cat</h2>
    <p>Common, yet upgrade by many as the worst house pet</p>
    <ul class="features">
      <li>Kindof a bummmer</li>
      <li>Seartcth carsdas yup yummi</li>
      <li>Easily tutorial basic reuse</li>
    </ul>
    <p class="price">free</p>
    <a href="" class='cta'>Really ?</a>
  </div>

  <div class="plan plan2">
    <h2>Cat</h2>
    <p>Common, yet upgrade by many as the worst house pet</p>
    <ul class="features">
      <li>Kindof a bummmer</li>
      <li>Seartcth carsdas yup yummi</li>
      <li>Easily tutorial basic reuse</li>
      <li>Easily tutorial basic reuse</li>
    </ul>
    <p class="price">free</p>
    <a href="" class='cta'>Best Detal ?</a>
  </div>

  <div class="plan plan3">
    <h2>Cat</h2>
    <p>Common, yet upgrade by many as the worst house pet</p>
    <ul class="features">
      <li>Kindof a bummmer</li>
      <li>Seartcth carsdas yup yummi</li>
      <li>Easily tutorial basic reuse</li>
    </ul>
    <p class="price">free</p>
    <a href="" class='cta'>Common ?</a>
  </div>
</div>


<div class="post">
  <a href="">Are you a Sublime Text Power User Good Job Example Tutorial Css?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nihil, libero voluptatibus facilis vel provident ex officia, distinctio voluptas in incidunt unde fugiat ratione nobis reprehenderit cumque at ipsam esse?
  </a>
</div>
