<div class="table">
    <div class="tableRow">
        <div class="tableCell box">
            <canvas id="panel" #mycanvas width="380" height="380"></canvas>
        </div>
        <div class="tableCell box">
            <img id="crop_result" />
        </div>
    </div>

    <div class="tableRow">
        <div class="tableCell">
            Zoom it:
            <input id='scaleSlider' type='range' min='1' max='3.0' step='0.01' value='1.0' />

        </div>
        <div class="tableCell">
            <button id="cropImgButtn">Crop It</button>
        </div>
    </div>
</div>