<nav class="top">
  <div class="dropdownBackground">
    <span class="arrow"></span>
  </div>

  <ul class="cool">
    <li>
      <a href="">About Me</a>
      <div class="dropdown dropdown1">
        <div class="bio">
          <img src="http://unsplash.it/128/128" alt="Demo">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta inventore illum, optio praesentium eos, quidem repellendus sit culpa eaque dolore facilis, laboriosam maxime necessitatibus id cum asperiores. Similique, perferendis, dolorum?</p>
        </div>
      </div>
    </li>

    <li>
      <a href="">Courses</a>
      <ul class="dropdown courses">
        <li>
          <span class="code">RFB</span>
          <a href="">Angular2 For Beginners</a>
        </li>
        <li>
          <span class="code">RFB</span>
          <a href="">ES6 For Beginners</a>
        </li>
        <li>
          <span class="code">RFB</span>
          <a href="">Atom Power For Beginners</a>
        </li>
        <li>
          <span class="code">RFB</span>
          <a href="">NodeJS For Beginners</a>
        </li>
        <li>
          <span class="code">RFB</span>
          <a href="">Material For Beginners</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="">Orther Link</a>
      <ul class="dropdown dropdown3">
        <li><a href="http://localhost:4200/facebook" class='button'>Facebook</a></li>
        <li><a href="http://localhost:4200/twitter" class='button'>Twitter</a></li>
        <li><a href="http://localhost:4200/github" class='button'>Github</a></li>
        <li><a href="http://localhost:4200/blogs" class='button'>Blogs</a></li>
      </ul>
    </li>
  </ul>
</nav>
