<div class="list">
  <div class="item">
    <input type="checkbox">
    <p>This is an inbox layout</p>
  </div>
  <div class="item">
    <input type="checkbox">
    <p>List work in day 2</p>
  </div>
  <div class="item">
    <input type="checkbox">
    <p>List work in day 3</p>
  </div>
  <div class="item">
    <input type="checkbox">
    <p>List work in day 4</p>
  </div>
  <div class="item">
    <input type="checkbox">
    <p>List work in day 5</p>
  </div>
  <div class="item">
    <input type="checkbox">
    <p>List work in day 6</p>
  </div>
  <div class="item">
    <input type="checkbox">
    <p>List work in day 7</p>
  </div>
  <div class="item">
    <input type="checkbox">
    <p>List work in day 8</p>
  </div>
</div>
<!--
////////////////////////////////////////////////////////////
-->
<!-- <div [ngClass]="{'fixed-nav': navIsFixed}"> -->
<div [class.fixed-nav]='navIsFixed'>
  <nav #main id='main' role="navigation">
    <ul>
      <li class='logo'><a href="">Logo</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">History</a></li>
      <li><a href="">Image</a></li>
      <li><a href="">Locations</a></li>
      <li><a href="">Map</a></li>
    </ul>
  </nav>

  <div class="wrapper">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere ratione, necessitatibus voluptatem architecto molestias illo aspernatur maxime alias commodi aut, cupiditate. Ipsum, voluptates vero adipisci nobis nulla impedit necessitatibus.</p>
  </div>
</div>
